.history/*
.vscode/*
*.o
*.exe
main/main.cpp
Project/Makefile
Project/debug/bin/test
Project/ans.txt
Project/debug/bin/log.txt
Project/log.txt
Project/main/test
Project/main/log.txt
Project/in.txt
log.txt
